<a href="https://colab.research.google.com/github/BralexMtz/First-AI-Algorithms/blob/main/Scikit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import load_iris # generado en 1936

from sklearn.ensemble import RandomForestClassifier # Para clasificar texto

import pandas as pd

import numpy as np

In [2]:
# resultados con menos variacion
np.random.seed(0)

Otros datasets
https://riptutorial.com/scikit-learn/example/6801/sample-datasets

In [3]:
iris = load_iris()

In [4]:
datafram=pd.DataFrame(iris.data,columns=iris.feature_names)

In [5]:
datafram.head() # muestra los 5 datos

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
datafram['species']=pd.Categorical.from_codes(iris.target,iris.target_names) 
# se agrega una nueva columna de especia

In [7]:
datafram.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa
3                4.6               3.1  ...               0.2   setosa
4                5.0               3.6  ...               0.2   setosa

[5 rows x 5 columns]

In [8]:
# probar el modelo con unos datos y despues probarlos 20% con otros datos.
trainRandom = np.random.rand(len(datafram))<0.8

In [10]:
train=datafram[trainRandom]

In [12]:
test=datafram[~trainRandom]

In [13]:
print('Numero de obs en el set de entrenamiento=', len(train)) # 80%

Numero de obs en el set de entrenamiento= 123

In [14]:
print('Numero de obs en el set de prueba=', len(test)) # 20%

Numero de obs en el set de prueba= 27

In [15]:
features=datafram.columns[:4]

In [16]:
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [17]:
#solo hay 3 especies
y=pd.factorize(train['species'])[0]
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [18]:
clf= RandomForestClassifier(n_jobs=2, random_state=0)

In [19]:
clf.fit(train[features],y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [20]:
clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2])

In [21]:
preds = iris.target_names[clf.predict(test[features])]

In [22]:
preds

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica'], dtype='<U10')

In [23]:
test['species'].head()

7     setosa
8     setosa
13    setosa
17    setosa
19    setosa
Name: species, dtype: category
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [24]:
pd.crosstab(test['species'], preds,rownames=['Actual Species'], colnames=['Predicted Species'])

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                  8           0          0
versicolor              0           5          2
virginica               0           0         12

In [25]:
# los triangulos superior e inferior son erroneos, 
# las diagonales son correctas o acertadas
list(zip(train[features], clf.feature_importances_))

[('sepal length (cm)', 0.0889479467793623),
 ('sepal width (cm)', 0.0234427551884027),
 ('petal length (cm)', 0.44105878808840404),
 ('petal width (cm)', 0.44655050994383105)]

In [ ]:
# esto nos dice cual de las caracteristicas es la m√°s importante.